@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3 {
    font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}
span{
    color: #e1b000;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #0073c8;
}
.principal{
    background-size: cover;
    background-position: center;
    background-image: url(img/back.png);
}
/* ------------------------------------------ Botão Contato ----------------------------- */

.btn{
    background-color: #e1b000;
    color: aliceblue;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}
.bnt.animate{
    animation: animate-outline 1s ease-ou infinite;
}
.btn:hover{
    background-color: rgb(206, 144, 0);
}
@keyframes animate-outline {
    from{
        outline: 0px solid #e1b000;
    }
    to{
        outline: 15px solid #e1b000;
    }
} 

/* ----------------------------------- Botão --------------------------------------- */

.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: #e1b000;
  background: linear-gradient(90deg, #e1b000 0%, rgb(255, 235, 80) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #e1b000;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    /* border: 1px solid #26456d; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out infinite;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 10px; height: 10px;
    border-radius: 100%;
    border: 3px solid rgb(255, 235, 80);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1s ease-out infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    from {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    to {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }

/* ------------------------------------- Header ---------------------------- */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    position: relative;
    max-width: 100px;
}
nav ul{
    position: relative;
    display: flex;
}
nav ul a{
    color: aliceblue;
    margin: 0px;
    text-transform: uppercase;
    font-size: 10px;
    display: block;
}
nav ul a:not(.btn)::after{
    content: "";
    background-color: #e1b000;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;
}
nav  li{
    list-style: none;
}
nav li a{
    padding: 10px 0px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
    margin-left: 50px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .text{
    padding: 150px 0 130px;
    position: relative;
    max-width: 600px;
    margin-right: 20px;
    margin-left: 5rem;
}
.content .text h2{
    color: #fff;
}
.content .text h2 span{
    font-size: 30px;
    color: #e1b000;
}
.content .text p{
    color: #fff;
    margin-top: 20px;
}
.content .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #D9AC59;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.content .text a:hover{
    transform: translateY(-10px);
}
.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 3rem;
}
.icons li{
    list-style: none;
}
.icons li a{
    display: inline-block;
    margin-left: 45px;
    background: #e1b000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
}
.icons li a:hover{
    background: #0073c8;
    transform: translateY(-10px);
}
.icons li a img{
    filter: invert(1);
    transform: scale(0.5);
}
.figure-principal{
    position: absolute;
    top: 0;
    left: -50px;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.figure-principal .fig3{
    display: flex;
    align-items: center;
    height: 90rem;
    margin-left: -1rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    padding: 0px 50px;
}
.figure-principal .fig4{
    position: absolute;
    display: flex;
    align-items: center;
    height: 110rem;
    left: 31rem;
    margin-bottom: 1rem;
    padding: 0px 50px;
}

/*--------------------------- Sobre Mim -------------------------------*/
figure{
    position: absolute;
    top: 0;
    left: -50px;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
figure .fig{
    display: flex;
    align-items: center;
    margin-top: -15rem;
    height: 9rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    padding: 0px 50px;
}
figure .fig2{
    display: flex;
    align-items: center;
    height: -10rem;
    margin-top: -31rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    padding: 0px 300px;
}
.sobre{
    background-size: cover;
    background-position: center;
    background-image: url(img/fundo1.png);
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sobre main{
    display: flex;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 10rem;
}
.container{
    display: flex;
    align-items:  flex-start;
    justify-content: first baseline;
}
.container .text{
    width: 50%;
    margin-left: 43rem;
}
.container .text h3{
    font-size: 50px;
    color: #121212;
}
.sobre .text p{
    color: #121212;
    padding: 5rem 0rem;
    width: 80%;
}
.sobre .img{
    width: 50%;
}
.sobre .img img{
    width: 100%;
}
.galery-container1{
    display: flex;
    gap: 3rem;
    margin-left: 1rem;
    padding: 10rem 0rem;
}
.galery-container1 .foto1{
    position: absolute;
    border-radius: 2rem;
    width: 24rem;
    height: 32rem;
    top: 5rem;
    left: 5rem;
    transition: 0.2s;
}
.galery-container1 .foto2{
    position: absolute;
    border-radius: 2rem;
    width: 20rem;
    height: 34rem;
    top: 10rem;
    left: 13rem;
    transition: 0.2s;
}
.galery-container1 img:hover{
    transform: scale(1.1);
}
/* ---------------------------------- Serviços ----------------------------*/
.servicos {
    background-color: #0073c8;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.servicos .title2 {
    color: aliceblue;
    font-size: 1.5rem;
    margin-left: -2rem;
    margin-top: 8rem;
}
.servicos .container2{
    display: flex;
    width: 120%;
    align-items: center;
    margin-left: -5rem;
}
.servicos .text{
    width: 60%;
    padding: 0 40px;
    color: aliceblue;
}
.servicos .text p{
    margin: 10px;
    margin-bottom: 300px;
    color: aliceblue;
}
.galery-container2{
    display: flex;
    gap: 3rem;
    margin-left: 1rem;
    padding: 5rem 0rem;
}
.galery-container2 .foto5{
    position: absolute;
    border-radius: 2rem;
    width: 22rem;
    height: 27rem;
    top: 5rem;
    left: 31rem;
    transition: 0.2s;
}
.galery-container2 .foto3{
    position: absolute;
    border-radius: 2rem;
    width: 24rem;
    height: 32rem;
    top: 10rem;
    left: 23rem;
    transition: 0.2s;
}
.galery-container2 img:hover{
    transform: scale(1.1);
}

/* ------------------------------- Projetos ------------------------------*/
.proj {
    background-size: cover;
    background-position: center;
    background-image: url(img/fundo1_2.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.proj .titulo h2{
    color: #000000;
    font-size: 50px;
    margin: 50px;
}
.galery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 0 1vw;
}
.galery-items{
    width: 340px;
    height: 340px;
}
.galery-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    transition: 0.2s;
}
.galery-container img:hover{
    transform: scale(1.1);
}
iframe{
    display: flex;
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/* ------------------------------------- Texto Final ------------------------------ */

.container{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    margin-bottom: 1rem;
}
.container p{
    width: 70%;
}
.container h3{

    font-size: 50px;
    justify-content: center;
}
.container span1{
    color: #e1b000;
    font-size: 20px;
    margin-bottom: 5rem;
}
button{
    margin-top: 5rem;
}
/* .fig5 {
    display: flex;
    margin-bottom: -40rem;
    margin-left: -8rem;
} */

/* ----------------------------------- Footer -------------------------------------------- */

footer{
    background: #478ED4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}
.final-icones {
    display: flex;
    align-items: center;
    justify-content: ce;
    margin: 1rem;
}
.final-icones li{
    list-style: none;
}
.final-icones li a{
    margin-left: 50px;
    background: #e1b000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
}
.final-icones li a:hover{
    background: #3860aa;
    transform: translateY(-10px);
}
.final-icones li a img{
    filter: invert(1);
    transform: scale(0.5);
}
.endereco{
    display: flex;
    justify-content: center;
    align-items: center;
}
.endereco p{
    margin-top: 3rem;
    margin-left: 2rem;
    color: #fff;
}

/* -------------------------------- MEDIA QUERY ----------------------------- */

@media screen and (max-width:1600px) {
section {
    width: 100%;
}
}
@media screen and (max-width: 600px){
/* h1, h2, h3, p, .container2 p {
        font-size: clamp(1.75em, 1em + 3vw, 2.5em);
} */
p {
    font-size: 25px;
    width: 100%;
}
.principal{
        background-size: cover;
        background-position: center;
        background-image: url(img/Abiel-phone.png);
}
.principal{
    width: 100%;
    flex-direction: column;
}
header, .content {
    width: 100%;
    flex-direction: column;
}
nav ul{
    width: 95%;
    display: flex;
}
nav ul a{
    color: aliceblue;
    margin: 0px;
    text-transform: uppercase;
    font-size: 10px;
    display: block;
}
nav ul a:not(.btn)::after{
    content: "";
    background-color: #e1b000;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;
}
nav  li{
    list-style: none;
}
nav li a{
    padding: 10px 0px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 10px;
    margin: 1rem;
}
/* --------------------------------Sobre mim ------------------------------ */
.sobre{
    background-size: cover;
    background-position: center;
    background-image: url(img/fundo1.png);
}
.sobre .container{
    display: flex;
    width: 100%;
    margin-bottom: 20rem;
}
.sobre .container .text{
    display: flex;
    width: 100%;
    justify-content: center;
}
.container .title h3{
    flex-direction: column-reverse;
    font-size: 40px;
    color: #121212;
    margin-left: -35rem;
    justify-content: center;
    font-size: clamp(1.75em, 1rem + 3vw, 2.5em);
}
.container .text p{
    flex-direction: column-reverse;
    width: 100%;
    display: flex;
    color: #121212;
    margin-top: 4rem;
    margin: auto;
    margin-left: -45rem;
    justify-content: center;
}
.sobre .img{
    width: 50%;
}
.sobre .img img{
    width: 100%;
}
.galery-container1{
    flex-direction: column;
    margin: auto;
}
.galery-container1 .foto1{
    position: absolute;
    border-radius: 2rem;
    width: 24rem;
    height: 32rem;
    top: 17rem;
    left: 2rem;
    transition: 0.2s;
}
.galery-container1 .foto2{
    position: absolute;
    border-radius: 2rem;
    width: 20rem;
    height: 34rem;
    top: 25rem;
    left: 8rem;
    transition: 0.2s;
}
.galery-container1 img:hover{
    transform: scale(1.1);
}
}